* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./assets/banner.png);
    background-size: cover;
    background-position: center;
    padding: 20px 12%;
    position: relative;
}

.header nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 9.25rem;
    height: 2.5rem;
}

.lang-btn {
    background: transparent;
    color: #fff;
    border-radius: 4px;
    height: 35px;
    width: auto;
    padding: 0 10px;
    font-size: 15px;
    margin-right: 20px;
    border: 1px solid gray;
}

.lang-btn i {
    margin-right: 5px;
    font-size: 20px;
}

.lang-btn img {
    width: 10px;
}

.signin-btn {
    background: #db0001;
    color: #fff;
    border-radius: 4px;
    height: 35px;
    font-size: 15px;
    padding: 0 10px;
    border: 0;
    cursor: pointer;
}

.header-content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}

.header-content h1 {
    font-size: 40px;
    font-weight: 900;
    width: 100%;
}

.header-content h3 {
    font-size: 25px;
    font-weight: 400;
    margin: 20px 0;
}

.header-content p {
    font-size: 20px;
}

.email-signup {
    margin-top: 20px;
}

.email-signup input {
    height: 50px;
    width: 300px;
    background: transparent;
    margin-right: 5px;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 0 10px;
    color: #fff;
} 

.email-signup input::placeholder {
    color: gray;
    font-size: 15px;
}

.email-signup button {
    background: #db0001;
    color: #fff;
    border-radius: 4px;
    height: 50px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    padding: 0 10px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .email-signup button {
        margin-top: 20px;
    }

    #lang-txt {
        display: none;
    }

    .logo {
        width: 6.25rem;
        height: 1.5rem;
    }
  }